a, a:visited, a:active
{
  color: blue;
}

#wrapper
{
  height: 100%;
  display: flex;
  flex-direction: column;
}

#header
{
}

h1
{
  font-size: 98%;
  padding-left: 5px;
}

h2
{
  font-size: 95%;
  padding-left: 10px;
}

h3
{
  font-size: 98%;
}

#map
{
  flex: 1;
}

.data
{
  padding-left: 5px;
  margin-left: 10px;
  border-left: 1px solid black;
}

html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
}

